@import 'SRC/variables.scss';

.btn {
  margin: 0;
  border: none;
  background-color: $color-blue-dark;
  cursor: pointer;
  font: 700 9px/22px Spartan, Arial, Helvetica;
  letter-spacing: 1.93px;
  text-transform: uppercase;
  text-align: left;
  color: $color-white;

  .btn-numbering {
    display: none;
    padding: 0 25px 0 0;
    color: $color-grey-light;
  }

  .btn-caption {
    display: inline-block;
  }
  .btn-caption-long {
    display: none;
  }

  &[data-selected='true'] {
    outline: none;
  }
}

@mixin assign-btn-selected-color() {
  @each $planet-name, $planet-color in $planet-colors {
    .btn-#{$planet-name} {
      &[data-selected='true'] {
        color: $color-grey-light;
        border-bottom: 5px solid $planet-color;
      }
    }
  }
}

@include assign-btn-selected-color();

@media only screen and (min-width: 768px) {
  .btn {
    .btn-caption {
      display: none;
    }

    .btn-caption-long {
      display: inline-block;
    }
  }
}
