@import '../../variables.scss';

nav {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  border-bottom: $border;
  width: 100%;
  min-height: 5rem;
  padding: 0 2rem;
  text-transform: uppercase;

  & .app-title {
    display: flex;
    flex: 1 1 30%;
    align-items: center;
    font: 500 28px Antonio, Arial, Helvetica;
    letter-spacing: -1.05px;
  }

  & .menu {
    display: flex;
    flex: 1 1;
    align-items: stretch;
    list-style: none;
    font: 700 11px/25px Spartan, Arial, Helvetica;
    letter-spacing: +1px;

    & li {
      display: flex;
      align-items: center;
      margin: 0 0 0 1.25rem;
      border-top: 5px solid transparent;
      cursor: pointer;

      @mixin assign-menu-item-border-color() {
        @each $planet-name, $planet-color in $planets {
          &.#{$planet-name}:hover {
            border-color: $planet-color;
          }
        }
      }

      @include assign-menu-item-border-color();
    }
  }
}
