@use 'SRC/variables.scss' as *;

.planetDesc
{
  min-height: 10rem;
}

.sourceContainer
{
  display: flex;
  justify-content: center;

  color: $color-grey-light;

  .sourceTitle
  {
    margin: 0 .5em 0 0;
  }

  a
  {
    font-weight: 700;

    display: flex;

    color: $color-grey-light;

    .sourceIcon
    {
      align-self: center;

      margin: 0 0 0 .75em;
    }
  }
}


@media only screen and (max-width: 767px)
{
  .planetDesc
  {
    font: 13px/25px Spartan, Arial, Helvetica;

    text-align: center;
  }

  .sourceContainer
  {
    margin: 1rem 0 0 0;
  }
}

@media only screen and (min-width: 768px)
{
  .planetDesc
  {
    font: 14px/25px Spartan, Arial, Helvetica;

    text-align: left;
  }

  .sourceContainer
  {
    font: 14px/25px Spartan, Arial, Helvetica;

    justify-content: left;
  }
}

@media only screen and (min-width: 1200px)
{
  .sourceContainer
  {
    font: 14px/25px Spartan, Arial, Helvetica;
  }
}
