@import '../../variables.scss';

.btn {
  margin: 0 0 1em 0;
  border: $border;
  padding: 5px 25px;
  background-color: $color-blue-dark;
  cursor: pointer;
  font: 700 12px/25px Spartan, Arial, Helvetica;
  letter-spacing: +2.6px;
  text-transform: uppercase;
  text-align: left;
  color: $color-white;
}

.btn-numbering {
  padding: 0 25px 0 0;
  color: $color-grey-light;
}

.btn:hover {
  border-color: $color-grey-dark;
  background-color: $color-grey-dark;
}

@mixin assign-btn-focus-color() {
  @each $planet, $color in $planets {
    .btn-#{$planet} {
      @extend .btn;
      &:focus {
        border-color: $color;
        background-color: $color;
      }
    }
  }
}

@include assign-btn-focus-color();
