@use 'SRC/variables.scss' as *;
@use 'SRC/mixins.scss' as mixins;

.menu
{
  font: 700 11px/25px Spartan, Arial, Helvetica;

  list-style: none;

  letter-spacing: +1px;
  text-transform: uppercase;
}

@media only screen and (max-width: 767px)
{
  .menu
  {
    &[data-is-inside-header='true']
    {
      display: none;
    }

    &[data-is-inside-header='false']
    {
      position: fixed;
      z-index: 1;
      top: 5rem;
      left: -100vw;

      display: flex;
      align-items: center;
      flex-direction: column;

      width: 100vw;
      height: 100%;

      @include mixins.menu-animation(.025s, .07s);
    }
  }
}

@media only screen and (min-width: 768px)
{
  .menu
  {
    &[data-is-inside-header='true']
    {
      display: flex;
      justify-content: center;
    }

    &[data-is-inside-header='false']
    {
      display: none;
    }
  }
}

@media only screen and (min-width: 1200px)
{
  .menu
  {
    &[data-is-inside-header='true']
    {
      justify-content: flex-end;

      height: 100%;
      padding: 0 0 0 10px;
    }
  }
}

@media only screen and (min-width: 1200px) and (min-height: 768px)
{
  .menu
  {
    &[data-is-inside-header='true']
    {
      align-items: stretch;
      flex: 1 1 70%;
    }
  }
}
