@use 'SRC/mixins' as mixins;

.menu
{
  font: 700 11px/25px Spartan, Arial, Helvetica;

  list-style: none;

  letter-spacing: +1px;
  text-transform: uppercase;
}

@media only screen and (max-width: 768px)
{
  .menu
  {
    &.inside-header
    {
      display: none;
    }

    &.outside-header
    {
      position: fixed;
      z-index: 1;
      top: 5rem;
      left: -100vw;

      display: flex;
      align-items: center;
      flex-direction: column;

      width: 100vw;
      height: 75%;

      @include mixins.menu-animation(.025s, .07s);

      li
      {
        width: 80%;

        transition: transform .5s ease-in-out;
      }

      &[data-menu-open='true']
      {
        li
        {
          transform: translateX(100vw);
        }
      }
    }
  }
}

@media only screen and (min-width: 768px)
{
  .menu
  {
    &.inside-header
    {
      display: flex;
    }

    &.outside-header
    {
      display: none;
    }
  }
}
