.menu {
  list-style: none;
}

@media only screen and (min-width: 768px) {
  .menu {
    grid-row: 2 / 3;
    display: flex;
    margin: 0 0 2em 0;
    font: 700 11px/25px Spartan, Arial, Helvetica;
    letter-spacing: +1px;
  }
}
