@use 'SRC/variables.scss' as *;

.planetStatsItem
{
  font: 500 20px/16px Antonio, Arial, Helvetica;

  display: flex;
  align-items: center;
  flex-direction: row;
  flex-grow: 1;

  min-width: 4.5em;
  max-height: 48px;
  margin: 0 0 20px 0;
  padding: 10px 15px;

  letter-spacing: -.75px;
  letter-spacing: -1.5px;
  text-transform: uppercase;

  border: $border;

  &:last-child
  {
    margin: 0;
  }

  .planetStatsItemTitle
  {
    flex: 1 1 50%;

    letter-spacing: +1px;
    text-transform: uppercase;

    color: $color-grey-light;
  }

  .planetStatsItemContent
  {
    display: flex;
    flex: 1 1 50%;
    justify-content: flex-end;
  }
}

@media only screen and (min-width: 768px)
{
  .planetStatsItem
  {
    font: 500 24px/52px Antonio, Arial, Helvetica;

    display: block;

    width: 25%;
    max-height: 120px;
    margin: 0 1.5vw 0 0;

    letter-spacing: -.9px;

    .planetStatsItemContent
    {
      display: block;
    }
  }
}

@media only screen and (min-width: 1200px)
{
  .planetStatsItem
  {
    flex-direction: row;

    letter-spacing: -1.5px;
  }
}

@media only screen and (min-width: 1200px) and (max-height: 767px)
{
  .planetStatsItem
  {
    margin: 0 10px 0 0;
    padding: 10px 30px;

    .planetStatsItemContent
    {
      font: 500 30px/42px Antonio, Arial, Helvetica;

      padding: 5px 0;
    }
  }
}

@media only screen and (min-width: 1200px) and (min-height: 768px)
{
  .planetStatsItem
  {
    margin: 0 2rem 0 0;
    padding: 20px;

    .planetStatsItemContent
    {
      font: 500 40px/52px Antonio, Arial, Helvetica;
    }
  }
}
