main {
  justify-self: center;
  margin: 1.5rem 1.75rem;
  max-width: 1500px;
}

h1 {
  text-align: center;
}

.layout {
  position: relative;
  z-index: 0;
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: 1fr;
}

@media only screen and (max-width: 768px) {
  main {
    transition: opacity 1s ease-in-out 0.5s;

    &[data-menu-open='false'][data-is-transition-done='true'] {
      opacity: 1;
    }

    &[data-menu-open='true'] {
      transition: opacity 0.25s ease-in-out;
      opacity: 0;
    }
  }
  nav {
    .planet-sections-menu {
      transition: opacity 1s ease-in-out 0.5s;
      &[data-menu-open='false'][data-is-transition-done='true'] {
        opacity: 1;
      }

      &[data-menu-open='true'] {
        transition: opacity 0.25s ease-in-out;
        opacity: 0;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    margin: 3rem 2rem 1.5rem 2rem;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    font: 14px/25px Spartan, Arial, Helvetica;
  }

  nav {
    grid-column: 1 / 3;
    display: flex;
    padding: 0 2rem;

    .app-title {
      flex: 1 1 30%;
      justify-content: flex-start;
      align-items: center;
      margin: 0;
    }

    .menu {
      flex: 1 1 70%;
      align-items: stretch;
      justify-content: flex-end;
      margin: 0;
    }

    .planet-sections-menu {
      display: none;
    }
  }

  main {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    margin: 3rem 7.5rem 3rem 7.5rem;
  }

  h1 {
    font: 500 80px/103px Antonio, Arial, Helvetica;
  }

  h4 {
    font: 700 11px/25px Spartan, Arial, Helvetica;
  }

  .layout {
    display: grid;
    grid-template-rows: 5rem auto;
    grid-template-columns: repeat(2, 1fr);
  }
}
