@import '../../variables.scss';

.layout {
  display: grid;
  grid-template-rows: 5rem 4fr 1fr;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
}

main {
  display: grid;
  grid-row: 2 / 4;
  grid-column: 1 / 3;
  grid-template-columns: 60% 40%;
  margin: 6rem 7.5rem 3rem 7.5rem;
}

.planet-pic-container {
  display: grid;
  grid-column: 1 / 2;
  align-items: center;
  justify-content: center;
}

.planet-data-container {
  grid-column: 1 / 3;
}

.planet-desc-container {
  grid-column: 2 / 3;
}

.source-container {
  display: flex;
  margin: 2rem 0;
  font: 12px/25px Spartan, Arial, Helvetica;
  color: $color-grey-light;
  & a {
    display: flex;
    font-weight: 700;
    color: $color-grey-light;

    & .source-icon {
      align-self: center;
      margin: 0 0 0 0.75em;
    }
  }

  & .source-title {
    margin: 0 0.5em 0 0;
  }
}
