@use 'SRC/variables.scss' as *;

.btn
{
  font: 700 9px/22px Spartan, Arial, Helvetica;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  padding: 5px 25px;

  cursor: pointer;
  text-align: left;
  letter-spacing: 1.93px;
  text-transform: uppercase;

  border: none;
  background-color: $color-blue-dark;

  &[data-selected='false']
  {
    .btn-caption
    {
      color: $color-white;
    }
  }

  .btn-caption
  {
    display: inline-block;
  }

  .btn-caption-long
  {
    display: none;

    color: $color-white;
  }
}

@media only screen and (max-width: 767px)
{
  .btn-numbering
  {
    display: none;
  }
}

@media only screen and (min-width: 768px)
{
  .btn
  {
    font: 700 12px/22px Spartan, Arial, Helvetica;

    height: 48px;
    margin: 0 0 1em 0;
    .btn-numbering
    {
      display: inline-block;

      padding: 0 25px 0 0;
    }

    .btn-caption
    {
      display: none;
    }

    .btn-caption-long
    {
      display: inline-block;
    }

    &[data-selected='false']
    {
      transition: background-color .3s;

      border: $border;

      &:hover
      {
        background-color: $color-grey-dark;
      }

      .btn-numbering
      {
        color: $color-grey-light;
      }
    }
  }
}
