@use 'SRC/variables.scss' as *;
@use 'SRC/mixins.scss' as mixins;

.btn {
  display: flex;
  margin: 0;
  border: none;
  background-color: $color-blue-dark;
  cursor: pointer;
  font: 700 9px/22px Spartan, Arial, Helvetica;
  letter-spacing: 1.93px;
  text-transform: uppercase;
  text-align: left;

  &[data-selected='false'] {
    .btn-numbering {
      color: $color-grey-light;
    }
  }
  .btn-numbering {
    display: none;
    padding: 0 25px 0 0;
  }

  .btn-caption {
    color: $color-white;
    display: inline-block;
  }
  .btn-caption-long {
    color: $color-white;
    display: none;
  }
}

.planet-sections-menu {
  @include mixins.planet-sections-menu-selected;
}

@media only screen and (min-width: 768px) {
  .planet-sections-btn-panel {
    .btn {
      .btn-caption {
        display: none;
      }

      .btn-caption-long {
        display: inline-block;
      }
    }
  }
}
