@import '../../variables.scss';

.planet-data-item {
  flex-grow: 1;
  margin: 0 2rem 0 0;
  border: $border;
  padding: 20px 0 30px 20px;
  min-width: 12rem;
  font: 500 40px/52px Antonio, Arial, Helvetica;
  letter-spacing: -1.5px;
  text-transform: uppercase;
}

.planet-data-item-title {
  font: 700 11px/25px Spartan, Arial, Helvetica;
  letter-spacing: +1px;
  text-transform: uppercase;
  color: $color-grey-light;
}
