@import '../../variables.scss';

.planet-pic {
  width: auto;
  max-width: 200px;
  height: auto;
  max-height: 200px;
}

.planet-pic-geology {
  width: auto;
  max-width: 150px;
  height: auto;
  max-height: 150px;
}
