@import '../../variables.scss';

.planet-pic-container {
  margin: 4rem 0;
  .planet-pic {
    width: auto;
    height: auto;
  }
}

@mixin assign-planet-size() {
  @each $planet-name, $planet-size in $planet-sizes {
    .planet-pic-#{$planet-name} {
      @extend .planet-pic;
      max-width: $planet-size;
      max-height: $planet-size;
    }
  }
}

@include assign-planet-size();

.planet-pic-geology {
  width: auto;
  max-width: 150px;
  height: auto;
  max-height: 150px;
}
