@use 'SRC/variables.scss' as *;
@use 'SRC/mixins.scss' as mixins;

@keyframes toggleIn
{
  0%
  {
    opacity: 0;
  }
  100%
  {
    opacity: 1;
  }
}

.planet-container
{
  display: grid;

  height: 100%;
  .planet-pic-section-container
  {
    display: flex;
    align-items: center;
    justify-content: center;

    & .planet-pic
    {
      max-width: 100%;
      max-height: 100%;

      animation-name: toggleIn;
      animation-duration: .75s;
    }
    & .planet-pic-geology
    {
      position: absolute;
      top: 65%;
      left: calc(50% - 35px);

      width: 70px;
      height: auto;

      animation-name: toggleIn;
      animation-duration: 1.75s;
    }
  }

  .planet-desc-sections-container
  {
    .planet-desc-container
    {
      display: flex;
    }

    .source-container
    {
      font: 12px/25px Spartan, Arial, Helvetica;

      display: flex;
      justify-content: center;

      color: $color-grey-light;

      .source-title
      {
        margin: 0 .5em 0 0;
      }

      a
      {
        font-weight: 700;

        display: flex;

        color: $color-grey-light;

        .source-icon
        {
          align-self: center;

          margin: 0 0 0 .75em;
        }
      }
    }
  }

  .planet-sections-btn-panel
  {
    font: 700 12px/25px Spartan, Arial, Helvetica;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 4em;

    border: none;

    @include mixins.planet-sections-btn-panel-selected();

    .btn
    {
      justify-content: flex-start;

      margin: 0 0 1em 0;
      padding: 5px 25px;

      letter-spacing: 2.57px;

      &[data-selected='false']
      {
        transition: background-color .3s;

        border: $border;

        &:hover
        {
          background-color: $color-grey-dark;
        }
      }

      .btn-numbering
      {
        display: inline-block;
      }
    }
  }

  .planet-stats-container
  {
    display: flex;
    align-items: flex-end;

    width: 100%;
    margin: 2rem 0 0 0;
    .planet-stats
    {
      display: flex;

      width: 100%;
      .planet-stats-item
      {
        font: 500 20px/16px Antonio, Arial, Helvetica;

        display: flex;
        align-items: center;
        flex-direction: row;
        flex-grow: 1;

        min-width: 4.5em;
        max-height: 48px;
        margin: 0 0 20px 0;
        padding: 10px 20px;

        letter-spacing: -.75px;
        letter-spacing: -1.5px;
        text-transform: uppercase;

        border: $border;
      }

      .planet-stats-item:last-child
      {
        margin: 0;
      }

      .planet-stats-item-title
      {
        flex: 1 1 50%;

        letter-spacing: +1px;
        text-transform: uppercase;

        color: $color-grey-light;
      }

      .planet-stats-item-content
      {
        display: flex;
        flex: 1 1 50%;
        justify-content: flex-end;
      }
    }
  }
}

@media only screen and (max-width: 767px)
{
  .planet-container
  {
    grid-template-rows: 25em auto auto;
    grid-row: 1/3;
    grid-column: 1/2;

    .planet-desc-container
    {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .source-container
    {
      margin: 1rem 0 0 0;
    }

    .planet-desc
    {
      font: 13px/25px Spartan, Arial, Helvetica;

      text-align: center;
    }
  }

  .planet-sections-btn-panel
  {
    display: none;
  }

  .planet-stats-container
  {
    .planet-stats
    {
      flex-direction: column;
    }
  }
}

@media only screen and (min-width: 768px)
{
  .planet-container
  {
    grid-column: 1 / 3;
    grid-template-rows: 31em 1.5fr 1fr;

    .planet-pic-section-container
    {
      grid-row: 1 / 2;
      grid-column: 1 / 3;
    }

    .planet-desc-sections-container
    {
      display: grid;

      grid-template-columns: repeat(2, 1fr);
      grid-row: 2 / 3;
      grid-column: 1 / 3;

      .planet-desc-container
      {
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;

        .planet-desc
        {
          font: 14px/25px Spartan, Arial, Helvetica;

          min-height: 10rem;

          text-align: left;
        }

        .source-container
        {
          font: 14px/25px Spartan, Arial, Helvetica;

          justify-content: left;

          margin: .5rem 0 0 0;
        }
      }
    }

    .planet-pic-section-container
    {
      .planet-pic-geology
      {
        left: calc(50% - 50px);

        width: 100px;
        height: auto;
      }
    }

    .planet-sections-btn-panel
    {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .planet-stats-container
    {
      grid-row: 3 /4;
      grid-column: 1 / 3;

      .planet-stats
      {
        flex-direction: row;

        .planet-stats-item
        {
          font: 500 24px/52px Antonio, Arial, Helvetica;

          display: block;

          width: 25%;
          max-height: 120px;
          margin: 0 1rem 0 0;

          letter-spacing: -.9px;
        }

        .planet-stats-item:last-child
        {
          margin: 0;
        }

        .planet-stats-item-content
        {
          display: block;
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px)
{
  .planet-container
  {
    grid-template-rows: 1fr auto;
    grid-template-columns: 65% 35%;

    .planet-pic-section-container
    {
      grid-row: 1 / 2;
      grid-column: 1 / 2;

      .planet-pic-geology
      {
        left: calc(50% - 81px);

        width: 162px;
        height: auto;
      }
    }

    .planet-desc-sections-container
    {
      grid-template-rows: 1fr auto;
      grid-template-columns: auto;
      grid-row: 1 / 2;
      grid-column: 2 / 3;

      .planet-desc-container
      {
        justify-content: flex-start;
      }

      .source-container
      {
        font: 14px/25px Spartan, Arial, Helvetica;

        margin: 0 0 4rem 0;
      }

      .planet-sections-btn-panel
      {
        margin: 2rem 0 0 0;
        padding: 0;

        grid-row: 2/3;
        justify-self: flex-end;
      }
    }
    .planet-stats-container
    {
      margin: 2rem 0 0 0;

      grid-column: 1 / 3;
      grid-row: 2 /3;

      .planet-stats-item
      {
        flex-direction: row;

        margin: 0 2rem 0 0;
        padding: 20px;

        letter-spacing: -1.5px;

        .planet-stats-item-content
        {
          font: 500 40px/52px Antonio, Arial, Helvetica;
        }
      }

      .planet-stats-item:last-child
      {
        margin: 0;
      }
    }
  }
}

@media only screen and (max-width: 767px)
{
  .planet-container
  {
    .planet-pic-section-container
    {
      @include mixins.planet-sizes($planet-sizes-mobile);
    }
  }
}


@media only screen and (min-width: 768px)
{
  .planet-container
  {
    .planet-pic-section-container
    {
      @include mixins.planet-sizes($planet-sizes-tablet);
    }
  }
}

@media only screen and (min-width: 1200px) and (min-height:768px)
{
  .planet-container
  {
    .planet-pic-section-container
    {
      @include mixins.planet-sizes($planet-sizes-desktop);
    }
  }
}
