@use 'SRC/variables' as *;
@use 'SRC/mixins.scss' as mixins;

nav
{
  position: sticky;
  z-index: 2;
  top: 0;

  background: $color-blue-dark url('ASSETS/img/background-stars.svg');

  .appTitle
  {
    font: 500 28px Antonio, Arial, Helvetica;

    display: grid;
    justify-content: left;

    margin: .9rem 0 .9rem 1.25rem;

    letter-spacing: -1.05px;
    text-transform: uppercase;

    grid-row: 1 / 2;
    grid-template-columns: repeat(2, auto);
  }

  .hamburger
  {
    position: fixed;
    z-index: 2;
    top: 1.55rem;
    right: 1.25rem;

    cursor: pointer;
  }

  &[data-menu-open='true']
  {
    grid-template-rows: 4rem auto;
  }
}

@media only screen and (max-width: 767px)
{
  nav
  {
    .appTitle
    {
      margin: 0;
      padding: .9rem 0 .9rem 1.25rem;

      border-bottom: $border;
    }
  }
}

@media only screen and (min-width: 768px)
{
  nav
  {
    border-bottom: $border;

    .hamburger
    {
      display: none;
    }

    .menu
    {
      justify-content: center;
    }

    .appTitle
    {
      justify-content: center;

      margin: .75em 0;

      grid-row: 1 / 2;
    }
  }
}

@media only screen and (min-width: 1200px)
{
  nav
  {
    display: flex;
    align-items: stretch;

    padding: 0 2rem;

    grid-column: 1 / 3;

    .appTitle
    {
      align-items: center;
      flex: 1 1 30%;
      justify-content: flex-start;

      margin: 0;
    }

    .menu
    {
      align-items: stretch;
      flex: 1 1 70%;
      justify-content: flex-end;

      margin: 0;
    }

    .planetSectionsMenu
    {
      display: none;
    }
  }
}
