@use 'SRC/variables' as *;

nav {
  grid-row: 1;
  display: grid;
  grid-template-rows: 4rem auto auto;
  align-items: stretch;
  text-transform: uppercase;

  .app-title {
    margin: 0.9rem 0 0.9rem 1.25rem;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: left;
    font: 500 28px Antonio, Arial, Helvetica;
    letter-spacing: -1.05px;
  }

  .hamburger {
    position: fixed;
    top: 1.55rem;
    right: 1.25rem;
    cursor: pointer;
  }

  &[data-menu-open='true'] {
    grid-template-rows: 4rem auto;
    grid-template-columns: repeat(2, auto);
  }

  .planet-sections-menu {
    grid-row: 2 / 3;
    grid-column: 1 / 1;
    display: grid;
    grid-template-columns: repeat(3, auto);
    border-bottom: $border;
    border-top: $border;

    .btn {
      position: relative;
      justify-content: center;
      padding: 0.9rem 0 0.75rem 0;
      background-color: transparent;

      &::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 5px;
        bottom: 0;
        left: 0;
        transition: transform 0.3s ease;
      }
    }

    #overview {
      grid-column: 1 / 2;
    }

    #structure {
      grid-column: 2 / 3;
    }

    #geology {
      grid-column: 3 / 4;
    }
  }
}

@media only screen and (max-width: 767px) {
  nav {
    &[data-menu-open='true'] {
      //TODO: look for a better way to avoid vertical scrollbar
      height: calc(100vh - 48px);
    }

    .menu {
      grid-column: 1/3;
      grid-row: 2;
      width: 85%;
      justify-self: center;
    }

    &[data-menu-open='false'] {
      .menu {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  nav {
    .planet-sections-menu {
      display: none;
    }

    border-bottom: $border;

    .hamburger {
      display: none;
    }

    .menu {
      display: fixed;
      justify-content: center;
    }

    .app-title {
      grid-row: 1 / 2;
      justify-content: center;
      margin: 0.75em 0;
    }
  }
}
