@use './variables.scss' as *;

*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html
{
  height: 100%;
}

body
{
  font: 11px/22px Spartan, Arial, Helvetica;

  height: 100%;

  color: $color-white;
  background: $color-blue-dark url('ASSETS/img/background-stars.svg');
}

#root
{
  height: 100%;
}

h1
{
  font: 500 48px/103px Antonio, Arial, Helvetica;

  text-transform: uppercase;
}

h2
{
  font: 500 40px/52px Antonio, Arial, Helvetica;

  letter-spacing: -1.5px;
}

h3
{
  font: 700 12px/25px Spartan, Arial, Helvetica;

  letter-spacing: +2.6px;
}

h4
{
  font: 700 8px/16px Spartan, Arial, Helvetica;

  letter-spacing: .73px;
}

@media only screen and (min-width: 768px)
{
  h1
  {
    text-align: left;
  }

  h4
  {
    font: 700 11px/25px Spartan, Arial, Helvetica;

    letter-spacing: 1px;
  }
}

@media only screen and (min-width: 1200px)
{
  body
  {
    font: 14px/25px Spartan, Arial, Helvetica;
  }

  h1
  {
    font: 500 80px/103px Antonio, Arial, Helvetica;

    margin: 1vh 0 1vw 0;
  }
}
