@import './variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=Spartan:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $color-blue-dark url('./assets/img/background-stars.svg');
  font: 11px/22px Spartan, Arial, Helvetica;
  color: $color-white;
}

h1 {
  font: 500 80px/103px Antonio, Arial, Helvetica;
  text-transform: uppercase;
}

h2 {
  font: 500 40px/52px Antonio, Arial, Helvetica;
  letter-spacing: -1.5px;
}

h3 {
  font: 700 12px/25px Spartan, Arial, Helvetica;
  letter-spacing: +2.6px;
}

h4 {
  font: 700 9px/25px Spartan, Arial, Helvetica;
  letter-spacing: +1px;
}
