$color-white: #fff;
$color-blue-dark: #070724;
$color-grey-dark: #38384f;
$color-grey-light: #838391;
$color-blue-light: #419ebb;
$color-orange-light: #eda249;
$color-lila: #6f2ed6;
$color-red-light: #d14c32;
$color-red: #d83a34;
$color-orange-dark: #cd5120;
$color-turquoise: #1ec2a4;
$color-blue-dark: #2d68f0;

body {
  color: $color-turquoise;
}
