@use 'SRC/variables.scss' as *;

@mixin menu-item-bullet-point-color()
{
  @each $planet-name, $planet-color in $planet-colors
  {
    &.#{$planet-name} .menu-item-bullet-point
    {
      background-color: $planet-color;
    }
  }
}

@mixin menu-item-border-color()
{
  @each $planet-name, $planet-color in $planet-colors
  {
    &.#{$planet-name}[data-selected='false']:hover::after
    {
      background-color: $planet-color;
    }

    &.#{$planet-name}[data-selected='true']::before
    {
      background-color: $planet-color;
    }
  }
}

@mixin planet-sections-menu-selected()
{
  @each $planet-name, $planet-color in $planet-colors
  {
    .btn-#{$planet-name}
    {
      &[data-selected='true']
      {
        &::after
        {
          transform: scaleX(1);

          background-color: $planet-color;
        }
        .btn-caption
        {
          color: $color-grey-light;
        }
      }
    }
  }
}

@mixin planet-sections-btn-panel-selected()
{
  @each $planet-name, $planet-color in $planet-colors
  {
    .btn-#{$planet-name}
    {
      &[data-selected='true']
      {
        border: 1px solid $planet-color;
        background-color: $planet-color;
      }
    }
  }
  @each $planet-name, $planet-color in $planet-numbering-selected
  {
    .btn-#{$planet-name}
    {
      &[data-selected='true']
      {
        .btn-numbering
        {
          color: $planet-color;
        }
      }
    }
  }
}

@mixin planet-sizes($planet-sizes)
{
  @each $planet-name, $planet-size in $planet-sizes
  {
    .planet-pic-container-#{$planet-name}
    {
      position: relative;

      max-width: min(min($planet-size, 40vw), 70vh);
    }
  }
}

@mixin menu-animation($base-delay, $delay-increment)
{
  @for $i from 1 through 8
  {
    li:nth-of-type(#{$i})
    {
      transition-delay: $base-delay + ($i - 1) * $delay-increment;
    }
  }
}
