@use 'SRC/variables.scss' as *;

@mixin menu-item-bullet-point-color()
{
  @each $planet-name, $planet-color in $planet-colors
  {
    &.#{$planet-name} .menuItemBulletPoint
    {
      background-color: $planet-color;
    }
  }
}

@mixin menu-item-border-color()
{
  @each $planet-name, $planet-color in $planet-colors
  {
    &.#{$planet-name}[data-selected='false']:hover::after
    {
      background-color: $planet-color;
    }

    &.#{$planet-name}[data-selected='true']::before
    {
      background-color: $planet-color;
    }
  }
}

@mixin planet-sections-menu-selected()
{
  @each $planet-name, $planet-color in $planet-colors
  {
    &.planetSectionsBtn-#{$planet-name}
    {
      &[data-selected='true']
      {
        &::after
        {
          transform: scaleX(1);

          background-color: $planet-color;
        }
      }
    }
  }
}

@mixin planet-sections-btn-panel-selected()
{
  @each $planet-name, $planet-color in $planet-colors
  {
    &.planetSectionsBtn-#{$planet-name}
    {
      &[data-selected='true']
      {
        border: 1px solid $planet-color;
        background-color: $planet-color;
      }
    }
  }
  @each $planet-name, $planet-color in $planet-numbering-selected
  {
    &.planetSectionsBtn-#{$planet-name}
    {
      &[data-selected='true']
      {
        .planetSectionsBtnNumbering
        {
          color: $planet-color;
        }
      }
    }
  }
}

@mixin planet-sizes($planet-sizes)
{
  @each $planet-name, $planet-size in $planet-sizes
  {
    .planetPicContainer-#{$planet-name}
    {
      position: relative;

      display: flex;
      justify-content: center;

      width: auto;
      height: 100%;
      max-height: $planet-size;
    }
  }
}

@mixin menu-animation($base-delay, $delay-increment)
{
  @for $i from 1 through 8
  {
    li:nth-of-type(#{$i})
    {
      transition-delay: $base-delay + ($i - 1) * $delay-increment;
    }
  }
}
