@import './variables.scss';

@media only screen and (min-width: 768px) {
  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    & .app-title {
      flex: 0 0 100%;
      justify-content: center;
      margin: 0.75em 0;
    }

    & .menu {
      flex: 0 0 100%;
      justify-content: center;
      margin: 0 0 2em 0;
    }
  }

  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    margin: 3rem 2rem 1.5rem 2rem;
  }

  h1 {
    text-align: left;
  }

  .layout {
    grid-template-rows: auto 4em 1fr;
  }

  .planet-pic-container {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
  }

  .planet-desc-container {
    flex: 1 1 100%;
    grid-row: 2 / 3;
    grid-column: 1 / 2;

    & .planet-desc {
      text-align: left;
    }

    & .source-container {
      justify-content: left;
      margin: 1.5rem 0 2rem 0;
    }
  }

  .button-panel {
    display: flex;
    align-self: center;
    flex-direction: column;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    margin: 0;
    border: none;
    padding: 0 0 0 5em;
    width: auto;
    font: 700 12px/25px Spartan, Arial, Helvetica;

    & .btn {
      justify-content: flex-start;
      margin: 0 0 1em 0;
      border: $border;
      padding: 5px 25px;
      letter-spacing: 2.57px;

      &:hover {
        border-color: $color-grey-dark;
        background-color: $color-grey-dark;
      }

      & .btn-numbering {
        display: inline-block;
      }

      & .btn-caption {
        display: none;
      }

      & .btn-extended-caption {
        display: inline-block;
      }
    }
  }

  .planet-data-container {
    grid-row: 3 /4;

    & .planet-data {
      flex-direction: row;
    }
  }

  .planet-data-item,
  .planet-data-item-last {
    display: block;
    width: 25%;
    font: 500 24px/52px Antonio, Arial, Helvetica;
    letter-spacing: -0.9px;
  }

  .planet-data-item {
    margin: 0 1rem 0 0;
  }

  .planet-data-item-last {
    margin: 0;
  }

  .planet-data-item-content {
    display: block;
  }

  @mixin assign-btn-focus-color() {
    @each $planet-name, $planet-color in $planet-colors {
      .btn-#{$planet-name} {
        &:focus {
          border-color: $planet-color;
          background-color: $planet-color;
        }
      }
    }
  }

  @include assign-btn-focus-color();
}

@media only screen and (min-width: 1200px) {
  body {
    font: 14px/25px Spartan, Arial, Helvetica;
  }

  nav {
    display: flex;

    & .app-title {
      flex: 1 1 30%;
      justify-content: flex-start;
      margin: 0;
    }

    & .menu {
      flex: 1 1 70%;
      align-items: stretch;
      justify-content: flex-end;
      margin: 0;
    }
  }

  main {
    display: grid;
    grid-row: 2 / 4;
    grid-column: 1 / 3;
    grid-template-columns: 65% 35%;
    margin: 6rem 7.5rem 3rem 7.5rem;
  }

  h1 {
    font: 500 80px/103px Antonio, Arial, Helvetica;
  }

  h4 {
    font: 700 11px/25px Spartan, Arial, Helvetica;
  }

  .layout {
    display: grid;
    grid-template-rows: 5rem 4fr 1fr;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;
  }

  .planet-pic-container {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
  }

  .planet-desc-container {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  .button-panel {
    padding: 0;
  }

  .planet-data-container {
    grid-column: 1 / 3;
    margin: 2rem 0 0 0;
  }

  .planet-data-item,
  .planet-data-item-last {
    flex-direction: row;
    padding: 20px;
    font: 500 40px/52px Antonio, Arial, Helvetica;
    letter-spacing: -1.5px;
  }

  .planet-data-item {
    margin: 0 2rem 0 0;
  }

  .planet-data-item-last {
    margin: 0;
  }
}
