@import './variables.scss';

@media only screen and (min-width: 375px) {
  .layout {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 4em 4em repeat(3, 1fr);
  }

  main {
    margin: 3rem 3.75rem 1.5rem 3.75rem;
  }

  .button-panel {
    display: flex;
    flex-direction: column;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    width: 100%;
    font: 700 12px/25px Spartan, Arial, Helvetica;

    & .btn {
      justify-content: flex-start;
      margin: 0 0 1em 0;
      border: $border;
      padding: 5px 25px;
      letter-spacing: 2.57px;

      &:hover {
        border-color: $color-grey-dark;
        background-color: $color-grey-dark;
      }

      & .btn-numbering {
        display: inline-block;
      }

      & .btn-caption {
        display: none;
      }

      & .btn-extended-caption {
        display: inline-block;
      }
    }
  }

  .planet-data {
    flex-direction: row;
  }

  .planet-data-item,
  .planet-data-item-last {
    display: block;
    margin: 0 2rem 0 0;
    min-width: 12rem;
    padding: 20px 0 30px 20px;
    font: 500 24px/52px Antonio, Arial, Helvetica;
    letter-spacing: -0.9px;
  }

  .planet-data-item-last {
    margin: 0;
  }

  .planet-data-item-content {
    display: block;
  }

  @mixin assign-btn-focus-color() {
    @each $planet-name, $planet-color in $planet-colors {
      .btn-#{$planet-name} {
        &:focus {
          border-color: $planet-color;
          background-color: $planet-color;
        }
      }
    }
  }

  @include assign-btn-focus-color();
}

@media only screen and (min-width: 768px) {
  .layout {
    display: grid;
    grid-template-rows: 5rem 4fr 1fr;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;
  }

  main {
    display: grid;
    grid-row: 2 / 4;
    grid-column: 1 / 3;
    grid-template-columns: 60% 40%;
    margin: 6rem 7.5rem 3rem 7.5rem;
  }

  .planet-pic-container {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }

  .planet-desc-container {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }

  .planet-data-container {
    grid-column: 1 / 3;
  }

  body,
  .source-container {
    font: 14px/25px Spartan, Arial, Helvetica;
  }

  h4 {
    font: 700 11px/25px Spartan, Arial, Helvetica;
  }

  .planet-data-item,
  .planet-data-item-last {
    flex-direction: row;
    font: 500 40px/52px Antonio, Arial, Helvetica;
    letter-spacing: -1.5px;
  }
}
