$color-white: #fff;
$color-blue-dark: #070724;
$color-grey-dark: #38384f;
$color-grey-border: #35354a;
$color-grey-light: #838391;

$planet-colors: (
  mercury: #419ebb,
  venus: #dc9544,
  earth: #6f2ed6,
  mars: #d14c32,
  jupiter: #d83a34,
  saturn: #cd5120,
  uranus: #1ec2a4,
  neptune: #2d68f0
);

$planet-numbering-selected: (
  mercury: #a0cfdd,
  venus: #ffe6bc,
  earth: #b696ea,
  mars: #e8a598,
  jupiter: #ec9c99,
  saturn: #e6a88f,
  uranus: #a2ffec,
  neptune: #96b3f8
);

$planet-sizes-desktop: (
  mercury: 290px,
  venus: 400px,
  earth: 450px,
  mars: 336px,
  jupiter: 582px,
  saturn: 575px,
  uranus: 458px,
  neptune: 450px
);

$planet-sizes-tablet: (
  mercury: 194px,
  venus: 253px,
  earth: 285px,
  mars: 213px,
  jupiter: 369px,
  saturn: 503px,
  uranus: 290px,
  neptune: 285px
);

$planet-sizes-mobile: (
  mercury: 111px,
  venus: 154px,
  earth: 173px,
  mars: 129px,
  jupiter: 224px,
  saturn: 305px,
  uranus: 176px,
  neptune: 173px
);

$border: 1px solid $color-grey-border;
